*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Keystore files
*.jks
*.keystore
# Google Services
google-services.json
# Heap dumps
*.hprof
